@mixin flexHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Press Start 2P", cursive;
}

.btn {
  background-color: #fff;
  padding: 1.5rem 2.4rem;
  border-radius: 10px;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: inherit;
  cursor: pointer;

  &:active {
    transform: translate(1px, 3px);
  }
}
